.intro {
  display: table;
  width: 100%;
  padding: 0;
  margin-top: 84px;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  background: rgba(0, 0, 0, 0);
}
.intro h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 82px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 800;
  color: #5ca9fb;
}
.intro p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
}
header .intro-text {
    /* padding-top: 150px; */
   /* padding-bottom: -200px;*/
  text-align: center;
}
.intro .form-group-email{
  width: 100%;
  max-width: 600px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro .form-control-emal{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  display: block;
  width: 60%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #fffdfd;
  background-color: rgb(198 198 197 / 41%);
  background-image: none;
  border: 1px solid rgb(198 198 197 / 41%);;
  border-radius: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;

}
.intro .rs_home{
  margin-top: 20px;
  margin-left: 15px;
}
.intro .txt-a{
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
}
.intro .img-center{
  margin-top: 0px;
  margin-left: -144px;

}
.intro .btn_titulo{
  margin-top: 90px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  display: block;
  width: 60%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #2EC5F9;
  background-color: rgb(198 198 197 / 41%);
  background-image: none;
  border: 1px solid rgb(198 198 197 / 41%);;
  border-radius: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  font-size: 11px;
  opacity: 1; /* Firefox */
}